* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 4rem 5rem;
    background-color: white;
    /*background: linear-gradient(#444, #333);*/
}

h1, h2, h3 {
    margin-bottom: .8rem;
}

h4 {
    margin-bottom: .6rem;
}

a {
    color: rgb(0, 0, 238);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 238);
}

p {
    margin-bottom: .2rem;
    color: #2e2f3e;
}

ol {
    list-style: square inside;
}

li {
    margin-bottom: .4rem;
    color: #2e2f3e;
}

h1, h2, h3, h4, p, li {
    font-family: sans-serif;
}

footer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.container {
    background-color: white;
    border-radius: 6px;
}

.container-info {
    margin-bottom: 2.2rem;
}

.container-info .container-inset:last-child {
    margin-bottom: 0;
}

.container-info-sm {
    margin-bottom: 1rem;
}

.container-inset {
    padding: 0 .8rem;
    margin-bottom: 1.2rem;
}

.container-inset .skill-block:last-child {
    margin-bottom: 0;
}

.paragraph-inset {
    padding: 0 .8rem;
}

.quiet-text {
    color: #2e2f3e;
    opacity: 0.5;
}

.skill-block {
    display: flex;
    margin-bottom: .5rem;
    justify-content: space-between;
    border-bottom: 1px dashed #000;
}

.vertical-group-block-marginless {
    display: flex;
    justify-content: start;
}

.vertical-group-block {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: .8rem;
}

.vertical-group-block .small-icon {
    margin-bottom: 0;
}

.vertical-group-block h3 {
    margin-bottom: 0;
}

.small-icon {
    margin-right: .4rem;
    height: 1.2rem;
}

.tiny-icon-text {
    height: 0.9rem;
}

@media (max-width: 630px) {
    body {
        padding: .5rem;
    }

    .container {
        padding: 4rem 1rem;
    }
}
