<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Currículo - Otavio Cornelio da Silva</title>
</head>
<body>
    <div class="container">
        <div class="container-info-sm">
            <h1>{{ nome }}</h1>
            <p><i>{{ nacionalidade }}, {{ estado_civil }}, {{ idade }} anos</i></p>
            <p>{{ endereco }} - CEP {{ cep }}</p>
            <p>{{ cidade }}, {{ estado }}</p>
        </div>
        <div class="container-info-sm">
            <div class="vertical-group-block-marginless">
                <img class="small-icon" src="./assets/phone-square-alt-solid.svg" alt="Telephone icon">
                <p><a href="tel:+55({{ ddd }}){{ tel }}">({{ ddd }}) {{ tel }}</a></p>
            </div>
            <div class="vertical-group-block-marginless">
                <img class="small-icon" src="./assets/envelope-square-solid.svg" alt="Email icon">
                <p><a href="mailto:{{ email }}">{{ email }}</a></p>
            </div>
            <div class="vertical-group-block-marginless">
                <img class="small-icon" src="./assets/github-square-brands.svg" alt="GitHub icon">
                <p><a href="{{ github }}">GitHub</a></p>
            </div>
        </div>
        <div class="container-info">
            <div class="vertical-group-block">
                <img class="small-icon" src="./assets/graduation-cap-solid.svg" alt="Graduation cap icon">
                <h3>Formação:</h3>
            </div>
            {% for item in educacao %}
            <p>{{ item.descricao }}, com início em {{ item.inicio }} e término em {{ item.concluido }}.</p>
            {% endfor %}
        </div>
        <div class="container-info">
            <div class="vertical-group-block">
                <img class="small-icon" src="./assets/tools-solid.svg" alt="Graduation cap icon">
                <h3>Habilidades:</h3>
            </div>
            {% for item in habilidades %}
                <div class="container-inset">
                <h4><i>{{ item.categoria }}:</i></h4>
                {% for skill in item.skills %}
                <div class="skill-block">
                <p>{{ skill.nome }}</p>
                {% if skill.nivel < 2 %}
                <p>Básico</p>
                {% elif skill.nivel == 2 %}
                <p>Intermediário</p>
                {% elif skill.nivel == 3 %}
                <p><strong>Avançado</strong></p>
                {% else %}
                <p><strong>Nativo</strong></p>
                {% endif %}
                </div>
                {% endfor %}
                </div>
                {% endfor %}
        </div>
        <div class="container-info">
            <div class="vertical-group-block">
                <img class="small-icon" src="./assets/briefcase-solid.svg" alt="Briefcase icon">
                <h3>Experiências Anteriores</h3>
            </div>
            <ol>
                {% for item in experiencias %}
                <li>{{ item }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="container-info">
            <div class="vertical-group-block">
                <img class="small-icon" src="./assets/exclamation-circle-solid.svg" alt="Exclamation point icon">
                <h3>Outros</h3>
            </div>
            {% for item in outros %}
            <p>{{ item }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
