<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otavio Cornelio da Silva</title>
</head>
<body>
    <div class="personal-info">
        <h2>{{ nome }}</h2>
        <p>{{ nacionalidade }}, {{ estado_civil }}, {{ idade }}</p>
        <p>{{ endereco }} - CEP {{ cep }}</p>
        <p>{{ cidade }}, {{ estado }}</p>
    </div>
    <div class="contact-info">
        <p>Telefone: ({{ ddd }}) {{ tel }}</p>
        <p>Email: {{ email }}</p>
        <p>GitHub: {{ github }}</p>
    </div>
    <div class="education">
        <h3>Formação:</h3>
        {% for item in education %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
    <div class="abilities">
        <h4><i>Programação:</i></h4>
        {% for item in skills %}
        <div class="skillblock">
            <p>{{ item.name }}</p>
            <p>{{ item.level }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="experiences">
        <ol>
            {% for item in experiences %}
            <li>{{ item }}</li>
            {% endfor %}
        </ol>
    </div>
    <div class="others">
        {% for item in others %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
</body>
</html>
